@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<head>
    <link rel="stylesheet" href="~/css/style.css">
</head>

<div id="sect" class="ml-5">
    <div class="alert">
        @if (Model.Name != "")
        {
            <h2 style="text-align:center">Hoşgeldiniz @Model.Name</h2>
        }
    </div>

</div>

<script src="~/js/data.js"></script>
<script src="~/js/script.js"></script>

<script>
    
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {

        });
    }, 25000);

</script>
