@page
@model RndWorldCity.Pages.navbarPages.AboutUsModel
@{
    ViewData["Title"] = "AboutUs";

}

<head>
    <link rel="stylesheet" href="~/css/aboutUs.css">
</head>

<section class="vertical_navigation">
    <ul>
        <li>                          <a class="verticalA" href="#mehmet"><i class="fas fa-user-alt"></i>&nbsp Mehmet Öztürk</a></li>
        <li style="margin-top: 50px;"><a class="verticalA" href="#nur"><i class="fas fa-user-alt"></i>&nbsp Nur Hatipoğlu</a></li>
        <li style="margin-top: 50px;"><a class="verticalA" href="#murat"><i class="fas fa-user-alt"></i>&nbsp Murat Acar</a></li>
    </ul>
</section>

<section>

    <!--Proje fikirlerinin açıklandığı kısım.-->
    <!--<div class="fkr" style="margin-left: 15%;">
            <h2 id="baslik" style="padding-left: 20px;color:#6495ED">Proje Fikirlerimiz</h2>
            <div class="fikir_div">
                <div class="my_div">
                    <ol class="my_ol">
                        <h3>Statik Proje Fikirleri</h3>
                        <li><strong>CV tasarımı</strong></li>
                        <li><strong>Vücut kitle endeksi hesaplayarak besin ve egzersiz önerileri sunan
                                platform</strong>
                        </li>
                        <li><strong>Karbon Ayak İzi Hesaplayan Site</strong></li>
                        <li><strong>Elektrik Faturası Hesaplayan Site</strong></li>
                    </ol>
                </div>

                <div class="my_div2">
                    <ol>
                        <h3>Dinamik Proje Fikirleri</h3>
                        <li><strong>Tüm sosyal medya hesaplarını tek bir sayfadan yönetme</strong></li>
                        <li><strong>Küçük esnafların ürünlerini satabileceği bir platform</strong></li>
                        <li><strong>Sosyal medyalarda popüler etiketlerle yapılan paylaşımları tek bir platformda
                                toplama</strong></li>
                    </ol>
                </div>

            </div>
        </div>-->
    <!--Takım üyeleri hakkında bilgi verilen kısım.-->
    <div class="main_div bg-dark">
        <h1 class="baslik">Takım Üyeleri</h1>

        <ul style="list-style-type: none;">
            <li class="kisi" id="mehmet">
                <img class="kisiImg" src="~/img/ben4.jfif" alt="Resim"><br>
                <u>
                    <p style="margin-left: 42px;">Mehmet Öztürk</p>
                </u>
                <hr>
                <div>
                    <b>Mehmet Öztürk, </b> Marmara Üniversitesi bilgisayar mühendisliği 2. sınıf öğrencisidir.
                    <u>Teknofest 2020 Akıllı Ulaşım Kategorisi</u> Jüri Ödülünü kazanmıştır.
                    <h3 style="padding-left: 20px;">Projeler</h3>
                    <ol>
                        <li>A-Peron</li>
                        <li>Misus</li>
                        <li>E-Ticaret Sitesi</li>
                        <li>Blog Sitesi</li>
                        <li>Portfolio Sitesi</li>
                        <li>DevMaids</li>
                        <li>Deprem Sensör Cihazı</li>
                        <li>Mücevherat Tanıtım Sitesi</li>
                        <li>Gym Yönetim Sistemi</li>
                        <li>Kütüphane Yönetim Sistemi</li>

                    </ol>
                    <p style="float: right; margin-right: 30px;">
                        <strong>İletişim:</strong>
                        <small>
                            mehmet.ztrk2134@gmail.com
                        </small>
                    </p>
                    <p style="float: right; margin-right: 30px;">
                        <a href=" https://github.com/mehmetztrk21"
                           target="_blank"><i class="fab fa-github"></i></a>
                    </p>
                    <p style="float: right; margin-right: 30px;">
                        <a href="https://www.linkedin.com/in/mehmet-%C3%B6zt%C3%BCrk-3a31351a8/" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </p>

                </div>
            </li>

            <li class="kisi" id="nur">
                <img class="kisiImg" src="~/img/NurResim.jfif" alt="Resim"><br>
                <u>
                    <p style="margin-left: 42px;">Nur Hatipoğlu</p>
                </u>
                <hr>
                <div>
                    <b>Nur Hatipoğlu, </b> Marmara Üniversitesi Bilgisayar Mühendisliği 2. sınıf öğrencisidir.
                    <u>Derin öğrenme ve nesne yönelimli programlama</u> alanında çalışmalar yapmaktadır.
                    <h3 style="padding-left: 20px;">Projeler</h3>
                    <ol>
                        <li>
                            Duygu Analizi Sonucunda Kullanıcıya Mesaj Veren Sistem(Python Masaüstü Uygulaması)
                        </li>
                        <li>Eczane Yönetim Sistemi (Java Masaüstü Uygulaması)</li>
                        <li>Otel Yönetim Sistemi (Java Masaüstü Uygulaması)</li>
                        <li>Animasyonlu Top Oyunu (Java Masaüstü Uygulaması)</li>
                        <li>Bisiklet Fiyat Tahmini (Python Veri Analizi)</li>
                    </ol>
                    <p style="float: right; margin-right: 30px;">
                        <strong>İletişim:</strong>
                        <small>
                            0.anurzz.9@gmail.com
                        </small>
                    </p>
                    <p style="float: right; margin-right: 30px;">
                        <a href=" https://github.com/nurhatipoglu"
                           target="_blank"><i class="fab fa-github"></i></a>
                    </p>
                    <p style="float: right; margin-right: 30px;">
                        <a href=" https://www.linkedin.com/in/nur-hatipoğlu-74b527199/" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </p>
                </div>
            </li>
            <li class="kisi" id="murat">
                <img class="kisiImg" src="~/img/MuratResim.jfif" alt="Resim"><br>
                <u>
                    <p style="margin-left: 60px;">Murat Acar</p>
                </u>
                <hr>
                <div>
                    <b>Murat Acar, </b> Marmara Üniversitesi Bilgisayar Mühendisliği 3. sınıf öğrencisidir.
                    <h3 style="padding-left: 20px;">Projeler</h3>
                    <ol>
                        <li>Şirketler için inovasyon portalı(WEB uygulaması)</li>
                        <li>Makale Yönetim Sistemi(WEB uygulaması)</li>
                        <li>Ekran görüntüsünden translate işlemi (Python Masaüstü Uygulaması)</li>
                        <li>Göz hareketleri ile bilgisayar kontrolü (Python Masaüstü Uygulaması)</li>
                        <li>2. El araç satışı takibi programı (Python web crawling Uygulaması)</li>
                        <li>İşci Maaş bodrosu (Java Masaüstü Uygulaması)</li>
                    </ol>
                    <p style="float: right; margin-right: 30px;">
                        <strong>İletişim:</strong>
                        <small>
                            mrtacr2534@gmail.com
                        </small>
                    </p>
                    <p style="float: right; margin-right: 30px;">
                        <a href=" https://github.com/0muratacar"
                           target="_blank"><i class="fab fa-github"></i></a>
                    </p>
                    <p style="float: right; margin-right: 30px;">
                        <a href=" https://www.linkedin.com/in/murat-acar-1aa985174/" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </p>
                </div>
            </li>
        </ul>

    </div>
</section>