@page
@model WorldTravel.Pages.navbarPages.tasks.sehirDetayModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/aboutUs.css">
</head>
@if (Model.Status == "AddSuccess")
{
    <div class="alert alert-success" role="alert">
        Proje Json Dosyasına Eklendi :)
    </div>
}

<div class="main_div bg-dark mt-4">
    <br>
    <h1 class="baslik">Şehir Yönetim Sayfası</h1>
    <hr />

    <form class="form-inline justify-content-center " method="post" asp-page-handler="SearchCityForm">
        <div class="mt-3">
            <input class="form-control mr-sm-2" type="search" placeholder="Şehir adı girerek arayın" asp-for="City.name" required>
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Ara</button>
        </div>

    </form>

    <form method="post" id="projectForm" class="p-4 mr-3" asp-page-handler="AddCityForm">

        <div class="form-row ">

            <div class="col-3">
                <input type="text" class="form-control" placeholder="ID otomatik atanır." asp-for="City.id" readonly />
            </div>
            <div class="col-3">
                <input type="text" class="form-control" placeholder="Ülke / Şehir ismini giriniz." required asp-for="City.name" />
            </div>

        </div>
        <div class="form-row mt-2 mb-2">
            <p>Genel Yorum:</p>
            <textarea class="form-control mb-3" asp-for="CommentList" rows="4"></textarea>
            <p>Beğendiğiniz mekanlar:</p>
            <textarea class="form-control mb-3" asp-for="LocationList" rows="4"></textarea>
            <p>Beğendiğiniz yiyecek içecekler:</p>
            <textarea class="form-control mb-3" asp-for="FoodList" rows="4"></textarea>
            <p>Kapak fotoğrafı URL:</p>
            <textarea class="form-control mb-3" asp-for="City.photoUrl" rows="1"></textarea>


        </div>
        <button type="submit" class="btn btn-success mt-3">Oluştur</button>


    </form>

</div>


