@page
@model WorldTravel.Pages.navbarPages.tasks.week11AdminModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/aboutUs.css">
</head>

<!--"id": 2,
    "projectName": "Abc Project",
    "projectDescription": "Abc Desc",
    "img": "",
    "url": "https://google.com/",
    "uyes": [ "Ford", "BMW", "Fiat" ]-->
<div class="main_div bg-dark mt-4">
    <br>
    <h1 class="baslik">Proje Yönetim Sayfası</h1>
    <hr />

    <form class="form-inline justify-content-center " method="post" asp-page-handler="SearchProjectForm">
        <div class="mt-3">
            <input class="form-control mr-sm-2" type="search" placeholder="ID girerek arayın" asp-for="Proje.id" required>
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Ara</button>
        </div>

    </form>

    <form method="post" id="projectForm" class="p-4 mr-3" asp-page-handler="AddProjectForm">

        <div class="form-row ">

            <div class="col-3">
                <input type="text" class="form-control" placeholder="ID otomatik atanır." asp-for="Proje.id" readonly />
            </div>
            <div class="col-3">
                <input type="text" class="form-control" placeholder="Proje ismini giriniz." required asp-for="Proje.projectName" />
            </div>
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Proje açıklamasını giriniz." required asp-for="Proje.projectDescription" />
            </div>
        </div>
        <div class="form-row mt-2 mb-2">
            <textarea class="form-control" id="projectForm" asp-for="MemberList" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-success mt-3">Oluştur</button>
        <button type="submit" class="btn btn-success mt-3" asp-page-handler="DeleteProjectByID">Sil</button>


    </form>

</div>
