@page
@model WorldTravel.Pages.navbarPages.tasks.week11Model
@{
}

<head>
    <link rel="stylesheet" href="~/css/aboutUs.css">
</head>

@if (Model.Status == "AddSuccess")
{
    <div class="alert alert-success" role="alert">
        Proje Json Dosyasına Eklendi :)
    </div>
}
else if (Model.Status == "UpdateSuccess")
{
    <div class="alert alert-success" role="alert">
        Güncelleme Başarılı
    </div>
}
else if (Model.Status == "DeleteError")
{
    <div class="alert alert-success" role="alert">
        Silme işlemi başarılı
    </div>
}


<div class="main_div bg-dark">
    <h1 class="baslik"> Json dosyası işleme </h1>
    <hr />

    <div class="card-group justify-content-center">
        @foreach (var project in Model.Projects)
        {
            <div class="card text-white bg-info m-3" style="max-width: 18rem;">
                <div class="card-header">Takım Adı: @project.projectName</div>
                <div class="card-body">
                    <h5 class="card-title">Proje id: @project.id</h5>
                    <p class="card-text">Proje açıklaması: @project.projectDescription.</p>
                </div>
                <div class="card-footer">
                    <ul class="list-group">
                        <p style="color:black">Takım Üyeleri</p>
                        @if (project.members != null)
                        {
                            @foreach (string uye in project.members)
                            {
                                <li class="list-group">@uye</li>
                            }
                        }



                    </ul>
                </div>
            </div>
        }
    </div>


</div>
